scipy 
matplotlib
ipykernel 
numpy
tqdm 
tensorboard 
tensorboardx
tensorboard-plugin-profile
torchinfo
pyyaml
torch
torchvision 
torchaudio
bumpversion 
coverage 
flake8 
invoke 
isort 
pylint 
pytest
sphinx
black 